* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.container-input {
	width: 656px;
	height: 32px;
	border: 2px solid rgb(204, 204, 204);
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	padding-left: 10px;
}

.container-button {
	width: 65px;
	height: 32px;
	border: 2px solid rgb(204, 204, 204);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-left: none;
}

.container-button:hover {
	background-color: rgb(240, 240, 240);
}